.LineContainer {
  position: relative;
  background-color: #FF0000;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chartWrapper {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

.ChartTitle {
  color: white;
  position: absolute;
  top: 1rem;
  left: 1rem;
  opacity: 0.5;
  width: 30%;
  margin: 20px;
  font-size: 18px;
  font-weight: 500;
}

.tooltip {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  p {
    color: black;
    font-size: 12px;
    padding: 5px;
  }
}



