@import "./../../variables/variables.scss";

.sidebar {
  position: relative;
  width: 10%;
  background-color: $headerbackground;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $leftbar-shadow;
.button {
  margin-bottom: 200px;
}
  .square {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    background-color: white;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      height: 60%;
      width: 60%;
    }
  }


  .copy {
    color: white;
    font-size: 1rem;

    transform-origin: bottom left;
    text-align: center;
    width: 15rem;
    margin-left: 0.5rem;
  }

  .text {
    position: absolute;
    bottom: 20px;
    color: white;
    transform: rotate(270deg) translateX(50%);
    width: 15rem;
  }
}



