.data {
  background-color: #FBFBFB!important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  height: 100%;
  width: 70%;
  margin: 10px;
  border-radius: 10px;
  .iconWrapper {
    border-radius: 6px;
    padding: 20px;
  };
  .icon {
    width: 30px;
  }
  .infosWrapper {
    display: flex;
    flex-direction: column;
  }
  .infos {
    font-weight: 700;
    font-size: 20px;
    color: #282D30;
  }
  .infonutri {
    font-weight: 500;
    font-size: 14px;
    color:#74798C;
    margin-top: 5px;
  }
}



