@import "./../../variables/variables.scss";


.dashboard {
  width: 100%;
  margin: 0;
  padding: 5%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
  }

  .graphsContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  &__header {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 80px;
    h1{
      font-size : 48px;
    }
    p{
      font-size : 18px;
    }
    .titlered {
      color: #E60000;
    }
  }

  &__firstgraph {
    background-color: #FBFBFB;
    margin-right: 10px;
  }

  .nutrition {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__secondcontainer {
    margin-top: 2rem;
    display: flex;
  }

  &__secondcontainer > * {
    flex: 1;
    margin: 0 1rem;
  }
}


