@import "./../../variables/variables.scss";


.dashboard {
  width: 90%;
  height: 100%;
  background-color: red;
  margin: 0;
  padding: 5%;
  .container {
    display: flex;
    flex-direction: row;
  }
  &__header {
    text-align: left;
    font-size: 1.5rem;
  }

  &__firstgraph {
    background-color: #FBFBFB;
    width: 70%;
    margin-right: 20px;

    .graph__title {
      text-align: left;
      font-size: 15px;
      color: #20253A;
      font-weight: 500;
    }
  }
}